.header {
    background-color: #EF9A9A;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    height: 58px;
    align-items: center;
}

.homeIcon {
    cursor: pointer;
}

.homeIcon:hover {
    scale: 1.09;
    text-shadow: 0 0 0 1px;
}