.home {
  display: flex;
  flex-direction: column;
}

.homeContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 35px 50px;
}

.contentBox {
  width: 300px;
  height: 180px;
  background-color: #EF9A9A;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: all 200ms;
}

.contentBox:hover {
  scale: 1.05;
  box-shadow: 0 0 0 0.5px;
}